@import url("./Styles/font.css");

* {
    font-family: "DMSans-Regular", Sans-serif;
}

:root {
    --black-color: #000;
    --white-color: #FFFFFF;
    --secondary-color: #AE9962;
    --button-color: #B4462A;
    --navigation-color: #5E5E5E;

    --bg-color-primary: #fff;
    --bg-color-secondary: #000;
    --shadow: 0px 0px 0px #000;
    --border-color: rgba(34, 34, 34, 0.1);
    --border-color2: #3D3D3D;
    --text-muted: #6c757d;
    --color-red: #c73e1c;
    --checkbox-label-color: #888;
    --login-btn-color: #3ba1da;
    --register-btn-color: #eeeeee;
    --color-red: #c73e1c;
    --button-color-yellow: #ECA203;
    --button-bg-color-secondary: #1691aa;
    --iconic-color: #ae9962;
    --alert-color: #1ecf6f;


    --button-bg-primary: #f0b32c;
    --button-bg-danger: #ff4823;
    --button-bg-success: #23c337;

    --text-color-primary: #000;
    --text-color-secondary: #fff;
    --text-color-danger: #b63f21;
    --text-color-gold: #a49764;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--text-color-primary);
}

/* common button class start */
.button-bg-primary {
    background-color: var(--button-bg-primary);
}

.button-bg-danger {
    background-color: var(--button-bg-danger);
}

.button-bg-success {
    background-color: var(--button-bg-success);
}

/* common button class end */


/* common text class start */
.text-color-primary {
    color: var(--text-color-primary);
}

.text-color-secondary {
    color: var(--text-color-secondary);
}

.text-color-danger {
    color: var(--text-color-danger);
}

.text-color-gold {
    color: var(--text-color-gold);
}


/* common text class end */

/* common font class start */
.justuspro-medium {
    font-family: "JustusProMedium", Sans-serif;
}

.justuspro-bold {
    font-family: "JustusProBold", Sans-serif;
}

.justuspro-regular {
    font-family: "JustusProRegular", Sans-serif;
}

.dmsans-regular {
    font-family: "DMSans-Regular", Sans-serif;
}

.dmsans-medium {
    font-family: "DMSans-Medium", Sans-serif;
}

.dmsans-bold {
    font-family: "DMSans-Bold", Sans-serif;
}

/* common font class end */


.alertsuccess {
    background-color: var(--alert-color);
}

.alertfail {
    background-color: var(--color-red);
}

.link-custom {
    color: var(--button-color) !important;
}

.link-custom:hover {
    color: var(--button-bg-color-secondary) !important;
}

.placeholder-custom::placeholder {
    color: #aaa;
}

.input-hide-arrow::-webkit-outer-spin-button,
.input-hide-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* common classed end */
input:focus {
    border: none !important;
    outline: none !important;
}

.alert-wrapper {
    background-color: var(--alert-color);
    padding: 23px;
    border-radius: 5px;
    bottom: 20px;
    left: 20px;
    max-width: 500px;
    width: 100%;
    z-index: 1001;
    position: fixed;
    color: var(--text-color-secondary);
}

.alert-text {
    font-family: "JustusProMedium", Sans-serif;
}

.alert-link {
    font-size: 12px;
    padding: 7px 13px;
    border: 3px solid var(--text-color-secondary);
    border-radius: 50px;
    width: 130px;
    text-align: center;
}

/* conatct-us-form css */

.contact-us-form {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-us-header {
    font-size: 45px;
    font-weight: bold;
    color: var(--black-color);
    font-family: "JustusProMedium";
}

.contact-us-subheader {
    font-size: 20px;
}

.icon-wrapper {
    background-color: rgb(246, 246, 246);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-us-icon {
    font-size: 20px;
    color: var(--secondary-color);
}

.contact-info-details a {
    color: var(--checkbox-label-color);
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 4%;
    border: 1px solid var(--text-color-danger);
    background-color: var(--bg-color-primary);
    border-radius: 30px;
}

.scroll-wrapper {
    width: 40px;
    height: 40px;
}

.scroll-top:hover svg {
    color: red !important;
}

@media (max-width:426px) {
    .contact-us-form {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .contact-us-header {
        font-size: 35px;
    }

    .contact-us-subheader {
        font-size: 20px;
    }
}

/* ------------------------------------------------------------------- */

/* 404 error page */
.search-404 {
    position: relative;
}

.search-404-btn {
    font-size: 18px;
    position: absolute;
    top: 17%;
    right: 10px;
}