@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "DMSansRegular", Sans-serif;
}

@font-face {
    font-family: 'justusMedium';
    src: url('./font/JustusProMedium.TTF') format('truetype');
}

:root {
    --black-color: #000;
    --white-color: #FFFFFF;
    --secondary-color: #AE9962;
    --button-color: #B4462A;
    --navigation-color: #5E5E5E;
    --text-color-secondary: #fff;
    --text-color-primary: #000;
    --shadow: 0px 0px 0px #000;
    --border-color: rgba(34, 34, 34, 0.1);
    --color-red : #c73e1c;
    --text-muted:#6c757d;
}

.linear-bg {
    background: #27242B;
    background: linear-gradient(90deg, rgba(39, 36, 43, 1) 19%, rgba(125, 46, 32, 1) 42%, rgba(184, 66, 33, 1) 68%, rgba(173, 154, 101, 1) 89%);
}

.primary-text-color {
    color: var(--text-color-primary);
}

.secondary-text-color {
    color: var(--text-color-secondary);
}