.admin-left-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 265px;
    height: 100vh;
    overflow-y: scroll;
}

.admin-right-wrapper {
    width: calc(100% - 265px);
    margin-left: auto;
    padding: 20px;
}

.admin-left-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.admin-left-wrapper::-webkit-scrollbar-track {
    background-color: var(--bg-color-primary);
    border-radius: 10px;
}

.admin-left-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-gold);
    border-radius: 10px;
}

.admin-left-wrapper::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.star-icon::after {
    content: "*";
    color: red;
    font-weight: bold;
    position: absolute;

}

/* add and edit product css */
.adminform-heading {
    font-weight: 700;
}

.admin-label {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
}

.admin-label.required::after {
    content: "*";
    color: red;
    top: -9px;
    font-weight: bold;
    right: -12px;
    position: absolute;
}

.admin-input {
    display: block;
    width: 100%;
    border: 1px solid var(--text-color-muted);
    padding: 8px;
    border-radius: 5px;
}

/* ---------------------------------------------------------------- */

/* view product */

.admin-product-view {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.admin-action {
    position: relative;
}

.admin-product-action {
    position: absolute;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    left: -163px;
    top: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.custom-popup-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-popup {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    max-width: 90%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.hidebtn {
    display: none;
    background-color: white;
    padding: 9px;
    border-radius: 8px;
    z-index: 10;
    left: -141px;
    top: 9px;
    width: 147px;
    height: 94px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-cell:hover .hidebtn {
    display: block;
}

.categoryImg {
    width: 50px;
}

.uploadImage {
    width: 80px;
}

.addLink {
    text-decoration: none;
    color: var(--text-color-primary);
    background-color: var(--bg-color-gold);
    border-radius: 5px;
    height: 45px;
    padding: 8px 16px;
    margin: 4px;
}