.mid-heading {
    font-size: 30px;
}

.category-banner {
    height: 180px;
    background-repeat: repeat;
    padding: 30px 0px 30px 80px;
}

.banner-des {
    width: 250px;
    font-size: 25px;
    line-height: 30px;
}

.brand-swiper .swiper {
    width: 100%;
    height: 100%;
}

.brand-swiper.swiper .swiper-slide img {
    width: 100%;
}

.card-category {
    border-radius: 20px;
}

.category-image {
    border-radius: 20px;
    height: 230px;
    border: 1px solid var(--text-color-danger);

}

.category-sub-img{
    height: 220px;
    box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.category-sub-title{
    font-size: 20px;
}

.category-sub-textsize{
    font-size: 18px;
}

.category-nav {
    color: var(--text-color-secondary);
    font-size: 22px;
    padding: 10px 0px;
}

.small-image {
    height: 200px;
    box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.big-image {
    height: 272px;
    border-radius: 26px;
    object-fit: cover;
    box-shadow: 4px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.sale-banner-heading {
    font-size: 20px;
}

/* sub category start*/
.sub-category-button {
    padding: 10px 30px;
}

.filter-wrapper-heading {
    font-size: 22px;
    font-weight: 500;
}

.filter-heading {
    font-size: 15px;

}

.list-item {
    font-size: 14px;
}

.filter-image {
    width: 100%;
    height: 200px;
}

.filter-title {
    font-size: 14px
}

@media screen and (max-width:576px) {
    .filter-left {
        position: fixed;
        left: -100%;
        top: 0px;
        padding: 20px 20px;
        background-color: #fff;
        height: 100%;
        overflow: scroll;
        transition: left 0.4s linear;
    }

    .filter-left.active {
        left: 0;
    }
}

/* .filter-wrapper{
    height: 100vh;
}

.filter-left {
    position: sticky;
    top: 1px;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
} */

/* sub category end*/