/* common css for both login and register forms */
.auth-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.auth-form {
    width: 500px;
}

.custom-auth-input {
    border-radius: 0 !important;
}

.custom-auth-input:focus {
    box-shadow: none !important;
    border: 1px solid #bbb !important;
}

.auth-btns {
    padding: 14px 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.auth-btn-1 {
    background-color: var(--login-btn-color);
    color: var(--text-color-secondary);
}

.auth-btn-1:hover {
    background-color: #44b0ec;
}

.auth-btn-2 {
    text-decoration: none;
    background-color: var(--register-btn-color);
    color: var(--text-color-muted);
}

.auth-btn-2:hover {
    background-color: #e5e5e5;
}
/* ---------------------------------------------------------------------------------- */

/* login form css */
.custom-login-checkbox input[type="checkbox"] {
    display: none;
}

.custom-login-checkbox .icon {
    vertical-align: middle;
    margin-right: 8px;
    display: none;
}

.custom-login-checkbox input[type="checkbox"]+label .unchecked {
    display: inline-block;
}

.custom-login-checkbox input[type="checkbox"]:checked+label .unchecked {
    display: none;
}

.custom-login-checkbox input[type="checkbox"]:checked+label .checked {
    display: inline-block;
}

.input-checkbox-label {
    color: var(--text-color-muted);
}

.forgot-password, .forgot-password-message {
    color: var(--text-color-muted);
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------ */

.user-control {
    width: 250px;
}

.user-control .img-section {
    border-bottom: 1px solid var(--border-color-primary);
}

.user-control .img-section p {
    font-family: "JustusProRegular";
    color: var(--text-color-muted);
}

.user-default-img {
    display: block;
    margin: 0 auto;
}

.controls-section ul li::marker{
    color: var(--text-color-muted);
}