.header-img,
.header-img img {
    width: 200px;
}

.header-search::placeholder {
    color: var(--white-color);
}

.search-bar {
    background-color: var(--white-color);
    gap: 1px;
}

.header-search,
.header-submit {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 15px;
    height: 50px;
    border: none;
    padding: 8px 20px 8px 20px;
}

.header-search {
    width: 350px;
    border-radius: 50px 0px 0px 50px;
    font-family: "JustusProRegular";
}

.header-search:focus {
    outline: none;
}

.header-submit {
    border-color: var(--white-color);
    border-radius: 0px 50px 50px 0px;
    border-left: 0px;
}

.header-menus {
    width: 250px;
    background-color: var(--button-color);
}

.toggle-icon {
    height: 35px;
}

.toggle-icon span {
    width: 35px;
    height: 2px;
    background-color: var(--black-color);
    display: block;
    transition: 0.3s linear;
}

.toggle-icon-active .start-line {
    transform: translateY(10px) rotate(45deg);
}

.toggle-icon-active .mid-line {
    height: 0px;
}

.toggle-icon-active .end-line {
    transform: translateY(-22px) rotate(-45deg);
}

.login-popup {
    width: 60% !important;
    border-radius: 0px !important;
}

.popup-login {
    background-color: var(--button-color);
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    padding: 12px 18px;
    fill: #fff;
    text-align: center;
    transition: all .3s;
    border: none;
}

.login-popup2 {
    background-color: #F0B13B;
}

.popup-points {
    font-size: 12px;
    padding: 5px;
    margin-top: 1rem;
}